<div class="page-header">
  <h1>Results <small>See your rates!</small></h1>
</div>

<div class="row">
  <div class="col-md-6">
    <dl class="dl-horizontal">
      <dt>Full name</dt>
      <dd>{{submission.name}}</dd>

      <dt>Phone</dt>
      <dd>{{submission.phone}}</dd>

      <dt>Address</dt>
      <dd>{{submission.address}}</dd>

      <dt>SSN</dt>
      <dd>{{submission.ssn}}</dd>

      <dt>Income</dt>
      <dd>{{submission.income}}</dd>

      <dt>Credit Score</dt>
      <dd>{{submission.credit_score}}</dd>

      <dt>Loan Amount</dt>
      <dd>{{submission.amount}}</dd>
    </dl>
  </div>

  <div class="col-md-6 offers">
  </div>
</div>